@model IEnumerable<RSSFeedModel.ItemModel>

@{
    ViewBag.Title = "Details";
}

<h2>Items list for @ViewBag.FeedTitle</h2>

<div>
    @Html.ActionLink("< Back to feeds list", "Index")
</div>

<table>
    <thead>
        <tr>
            <th>
                @Html.LabelFor(m => Model.First().Title)
            </th>
            <th>
                @Html.LabelFor(m => Model.First().Description)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Link" title="@item.Title">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.Raw(item.Description.Replace("\\", ""))
            </td>
        </tr>
    }
    </tbody>
</table>
