@model IEnumerable<RSSFeedWeb.Models.FeedModel>

@{
    ViewBag.Title = "Your feeds";
}

<h2>@ViewBag.Message</h2>

<div>
    @Html.ActionLink("Add a new feed", "Add")
</div>
<br />
<table>
    <thead>
        <tr>
            <th>
                @Html.LabelFor(m => Model.First().Title)
            </th>
            <th>
                @Html.LabelFor(m => Model.First().NonReadItems)
            </th>
            <th>
                @Html.LabelFor(m => Model.First().Description)
            </th>
            <th>
                @Html.LabelFor(m => Model.First().Category.Name)
            </th>
            <th colspan="3" />
        </tr>
    </thead>
    <tbody>
    @foreach (var feed in Model)
    {
        <tr>
            <td>
                <a href="@feed.Link" title="@feed.Title">@Html.DisplayFor(modelItem => feed.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => feed.NonReadItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feed.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feed.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = feed.Id })
            </td>
            <td>
                @Html.ActionLink("Read", "Read", new { id = feed.Id })
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { id = feed.Id })
            </td>
        </tr>
    }
    </tbody>
</table>